.about-container {
    --padding: 0 clamp(2rem, 20%, 20rem) min(15%, 120px);
    --justify-text: justify;
    --font-size: clamp(1.2rem, 1.5vw, 32px);
    @media (max-width: 480px) {
        --padding: 0 36px 20%;
        --justify-text: 'left';
    }
}

.about-container {
    padding: var(--padding);
    .main {
        .back-glow {
            position: absolute;
            top: -50%;
            left: 20%;
        }
        .back-glow2 {
            position: absolute;
            top: -100%;
            left: -100%;
        }
        position: relative;
        text-align: var(--justify-text);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: var(--font-size);
        .connect {
            margin-top: 10%;
            text-align: center;
            .title {
                margin-bottom: 24px;
            }
            .links  {
                display: flex;
                gap: 24px;
                a {
                    --width: 52px;
                    --height: 52px;
                    width: var(--width);
                    height: var(--height);
                    .bg {
                        border-radius: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: linear-gradient(to right, #B93F5B, #8D53AB);
                        width: var(--width);
                        height: var(--height);
                        cursor: pointer;
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
    }
}