<div class="about-container">
    <p class="section-heading">About</p>
    <div class="main">
        {{ aboutMe }}
        <div class="connect">
            <div class="title">
                Find me on
            </div>
            <div class="links">
                <a href="https://github.com/AkhilParim" target="_blank">
                    <img [src]="'/assets/github.svg'" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/akhil-parim/" target="_blank">
                    <img [src]="'/assets/linkedin.svg'" alt="LinkedIn">
                </a>
                <a href="mailto:aparim3@uic.edu" target="_blank">
                    <img [src]="'/assets/email.png'" alt="Email">
                </a>  
            </div>
        </div>
    </div>
</div>
