
$title-text-color: #afafaf;
$secondary-text-color: #747474;
$border-color: #747474;


.experience-container {
    width: 100%;
    padding: 42px 0 84px;
    .experience-wrapper {
        position: relative;
        --gap-width: 60px;
        --gap-height: 60px;
        --gap-distance-from-top: 30px;
        .dates {
            position: absolute;
            line-height: var(--gap-height);
            top: var(--gap-distance-from-top);
            color: $secondary-text-color;
            font-size: 18px;
        }
        .gap {
            position: absolute;
            color: $secondary-text-color;
            top: var(--gap-distance-from-top);
            width: var(--gap-width);
            height: var(--gap-height);
            background-color: #000;
            border-radius: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            .point {
                border-radius: 50%;
                background-color: $secondary-text-color;
                height: 8px;
                width: 8px;
            }
        }
        .card-wrapper {
            padding-top: 48px;
            .card {
                --alpha: calc(var(--active, 0) * 0.15);
                &:is(:hover, :focus-within) {
                    --active: 1;
                }
                border: 1px solid $border-color;
                padding: 24px;
                background-attachment: fixed;
                position: relative;
                .title {
                    font-size: 28px;
                    color: $title-text-color;
                    font-weight: 600;
                }
                .subtitle {
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: $title-text-color;
                    font-weight: 600;

                }
                .content {
                    font-size: 20px;
                    line-height: 26px;
                    color: $secondary-text-color;
                }
            }

            /* Spotlight effect */

            .card::before {
                --alpha: 1;
                --card-border-width: 4px;
                content: "";
                position: absolute;
                inset: 0;
                mask:
                    linear-gradient(#fff, #fff) 0 0 / 100% var(--card-border-width),
                    linear-gradient(#fff, #fff) 100% 0 / var(--card-border-width) 100%,
                    linear-gradient(#fff, #fff) 0 100% / 100% var(--card-border-width),
                    linear-gradient(#fff, #fff) 0 0 / var(--card-border-width) 100%;
                mask-repeat: no-repeat;
            }
            .card, .card::before {
                background: radial-gradient(
                                closest-corner at calc(var(--x) * 1px) calc(var(--y) * 1px), 
                                hsl(339 48% 48% / var(--alpha)), 
                                hsl(265 56% 56% / var(--alpha)), 
                                hsl(351 31% 51% / var(--alpha)), 
                                transparent 600px
                            );
                background-attachment: fixed;
            }
        }

        /*  CSS specific to left and right in Experience  */

        &.exp-left {
            padding-right: calc(50% - 1px);
            padding-left: 4%;
            .dates {
                left: calc(50% + var(--gap-width) / 2);
            }
            .gap {
                left: calc(50% - var(--gap-width) / 2);
            }
            .card-wrapper {
                border-right: 2px solid $border-color;
            }
            .card {
                margin-right: 24px;
            }
        }
        &.exp-right {
            padding-left: calc(50% - 1px);
            padding-right: 4%;
            .dates {
                right: calc(50% + var(--gap-width) / 2);
            }
            .gap {
                right: calc(50% - var(--gap-width) / 2);
            }
            .card-wrapper {
                border-left: 2px solid $border-color;
            }
            .card {
                margin-left: 24px;
            }
        }
    }
}