<div class="experience-container">
    <p class="section-heading">Experience</p>
    <ng-container *ngFor="let exp of experiences; index as i">
      <div class="experience-wrapper" [ngClass]="i%2 == 0 ? 'exp-left' : 'exp-right'">
        <p class="dates lg-screens">{{ exp.start }} - {{ exp.end }}</p>
        <div class="gap">
          <div class="point"></div>
        </div>
        <div class="card-wrapper">
          <div [appElementAnimation]="{time: '0.5', translateX: '-3%'}" class="card">
            <p class="title">
              {{ exp.title }}
            </p>
            <p *ngIf="exp.subtitle" class="subtitle">
              {{ exp.subtitle }}
            </p>
            <p class="dates sm-screens">{{ exp.start }} - {{ exp.end }}</p>
            <p class="content">
              {{ exp.content }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
