
$title-text-color: #afafaf;
$primary-text-color: #747474;
$border-color: #747474;


.experience-container {
    width: 100%;
    padding: 42px 0 84px;
    .section-heading {
        font-size: 60px;
        color: #fff;
        text-align: center;
        margin-bottom: 48px;
        font-family: 'Poppins';
        font-weight: 800;
        // background: -webkit-linear-gradient(#008AEC, #03D1DC);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .experience-wrapper {
        position: relative;
        font-family: 'Nunito';
        *::selection {
            background: #9B4444;
            color: #fff;
        }
        .dates {
            position: absolute;
            top: 60px;
            color: $primary-text-color;
            font-size: 18px;
        }
        .card-wrapper {
            padding-top: 48px;
            .card {
                --alpha: calc(var(--active, 0) * 0.15);
                --border-radius: 0px;
                &:is(:hover, :focus-within) {
                    --active: 1;
                }
                border: 1px solid $border-color;
                padding: 24px;
                border-radius: var(--border-radius);
                background-attachment: fixed;
                position: relative;
                .title {
                    font-size: 28px;
                    color: $title-text-color;
                    font-weight: 600;
                }
                .subtitle {
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: $title-text-color;
                    font-weight: 600;

                }
                .content {
                    font-size: 20px;
                    line-height: 26px;
                    color: $primary-text-color;
                }
            }

            /* Spotlight effect */

            .card::before {
                --alpha: 1;
                --border-width: 4px;
                content: "";
                position: absolute;
                inset: 0;
                border-radius: var(--border-radius);
                mask:
                    linear-gradient(#fff, #fff) 0 0 / 100% var(--border-width),
                    linear-gradient(#fff, #fff) 100% 0 / var(--border-width) 100%,
                    linear-gradient(#fff, #fff) 0 100% / 100% var(--border-width),
                    linear-gradient(#fff, #fff) 0 0 / var(--border-width) 100%;
                mask-repeat: no-repeat;
            }
            .card, .card::before {
                background: radial-gradient(
                                closest-corner at calc(var(--x) * 1px) calc(var(--y) * 1px), 
                                hsl(339 48% 48% / var(--alpha)), 
                                hsl(265 56% 56% / var(--alpha)), 
                                hsl(351 31% 51% / var(--alpha)), 
                                transparent 600px
                            );
                background-attachment: fixed;
            }
        }

        /*  CSS specific to left and right in Experience  */

        &.exp-left {
            padding-right: calc(50% - 1px);
            padding-left: 4%;
            .dates {
                left: calc(50% + 24px);
            }
            .card-wrapper {
                border-right: 2px solid $border-color;
            }
            .card {
                margin-right: 24px;
            }
        }
        &.exp-right {
            padding-left: calc(50% - 1px);
            padding-right: 4%;
            .dates {
                right: calc(50% + 24px);
            }
            .card-wrapper {
                border-left: 2px solid $border-color;
            }
            .card {
                margin-left: 24px;
            }
        }
    }
}