<div class="projects-container">
    <p class="section-heading">
        Projects
    </p>
    <div class="projects">
        <ng-container *ngFor="let pro of projects">
            <div [appElementAnimation]="{time: '0.5', translateX: '-3%'}" class="project">
                <div class="title">{{ pro.title }}</div>
                <div class="subtitle">{{ pro.subtitle }}</div>
                <div class="content" *ngIf="pro.content">
                    {{ pro.content }}
                </div>
                <div *ngIf="pro.url" class="button-wrapper">
                    <div class="button">
                        Visit
                        <img [src]="'/assets/arrow.svg'" alt="">
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
