<div class="scrollable-container">
  <div class="home">
    <!-- <img class="background" [src]="'/assets/bg-image.svg'" alt=""> -->
    <img class="background" [src]="'/assets/background.svg'" alt="">
    <p class="name">Hello, I'm Akhil Parim</p>
    <p class="title">Full Stack Web Developer</p>
  </div>

  <!-- Experience Section -->
  <div class="experience-container">
    <p class="section-heading">Experience</p>
    <ng-container *ngFor="let exp of experiences; index as i">
      <div class="experience-wrapper" [ngClass]="i%2 == 0 ? 'exp-left' : 'exp-right'">
        <p class="dates">{{ exp.start }} - {{ exp.end }}</p>
        <div class="main-wrapper">
          <div class="main">
            <p class="title">
              {{ exp.title }}
            </p>
            <p *ngIf="exp.subtitle" class="subtitle">
              {{ exp.subtitle }}
            </p>
            <p class="content">
              {{ exp.content }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>